{% extends 'base/base.html' %} 
{% block title %} Sale Bill No : {{ bill.billno }}{% endblock title %}
{% block body %} 
{% load crispy_forms_tags %}
{% load static %}		

<div style="color:#575757; font-style: bold; font-size: 3rem;  border-bottom: 1px solid #eeeeee00;">Purchase Bill No : {{ bill.billno }}</div>

    <!-- <br><br> --><!-- Log on to codeastro.com for more projects -->
    
<form method="post">
    {% csrf_token %}

        <div class="bg"><br>
            <div id="printArea" class="bg">
                <table class="outer-box inner-box" style="width: 840px; margin-left: auto; margin-right: auto;">
                    <tbody>
                        <tr style="height: 1px;">
                            <td> 
                                <div class="split left">
                                    <p> TEXT INVOICE - SALE</p> 
                            </div>
                            </td>
                        </tr>
                        <tr style="text-align: center;">
                            <td >
                                <span style="font-size: 160%; font-weight: bold;">PINAKI GROUP</span> <br>
                                <span style="font-size: 90%; font-weight: bold;">DEALERS IN : Products</span> <br>
                                <span style="font-size: 90%; font-weight: bold;">ADDRESS :</span> 29, Gareb-Newaz Avenue<br>Sector-11, Uttara, Dhaka-1230<br>
                                <span style="font-size: 90%; font-weight: bold;">EMAIL : info@pinakigroup.com</span> <br>

                                <div class="split left">
                                    <div class="centered; width: 50%;">
                                        <span style="float:left; font-size: 100%; font-weight: bold; padding-left: 10px;">Customer :</span> <br>
                                        <span style="float:left; font-size: 90%; padding-left: 10px;">NAME : {{ bill.name }}</span><br> 
                                        <span style="float:left; font-size: 90%; padding-left: 10px;">ADDRESS : {{ bill.address }}</span><br>
                                        <span style="float:left; font-size: 90%; padding-left: 10px;">PHONE : {{ bill.phone }}</span><br>
                                        <span style="float:left; font-size: 90%; padding-left: 10px;">EMAIL : {{ bill.email }}</span> <br>
                                    </div>
                                  </div>
                                  
                                  <div class="split right">
                                    <div class="centered">
                                        <h6 style="text-align:right; padding-right:10px;">Name: {{ bill.time.date }}</h6>  
                                    </div>
                                  </div>
                            </td><!-- Log on to codeastro.com for more projects -->
                        </tr>           
                        <tr>
                            <td><!-- Log on to codeastro.com for more projects -->
                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="width: 05%; font-weight: bold; text-align: center;">&nbsp;SL</td>
                                        <td class="inner-box" style="width: 30%; font-weight: bold; text-align: center;">GOODS</td>
                                        {% comment %} <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">&nbsp;HSN/SAC</td> {% endcomment %}
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">QTY</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">UNIT PRICE</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">AMOUNT ৳</td>
                                        {% comment %} <td class="inner-box" style="width: 05%; font-weight: bold; text-align: center;">UOM</td> {% endcomment %}
                                    </tr>
                                    {% for item in items %}
                                        <tr style="height: auto;">
                                            <td class="inner-box" style="width: 5%;">&nbsp; {{ forloop.counter }}</td>
                                            <td class="inner-box" style="width: 30%;">&nbsp; {{ item.stock.name }}</td>
                                            {% comment %} <td class="inner-box" style="width: 12%;">&nbsp;</td> {% endcomment %}
                                            <td class="inner-box" style="width: 12%;">&nbsp; {{ item.quantity }}</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp; {{ item.unit_price }}</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp;{{ item.totalprice }}</td>
                                            {% comment %} <td class="inner-box" style="width: 5%;">&nbsp;0</td> {% endcomment %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align: right; padding-right:10px; padding-top: 5px;">
                                <span style="font-weight: bold;">FOR COMPANY <br><br><br> Signature</span>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <!-- <br><br> --><!-- Log on to codeastro.com for more projects -->

        </div>

        <br><br>

        <div class="billwrapper">
            <button class="center btn btn-primary" onclick="printpage('printArea')">Print</button>
            <a href="{% url 'sale_read' %}" class=" btn center btn-secondary">Go Back</a>
        </div><br>

    </form>

    <script>
        function printpage(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }       
    </script>

{% endblock body %}